In [28]:
import pandas as pd
import numpy as np

In [29]:
model_names = ['DT', 'LOG', 'RF', 'XGB']
submission_dict = {}

for name in model_names:
    path = f'../../data/submissions/{name}_train_test_data_1.csv'
    
    df = pd.read_csv(path)
    
    submission_dict[name] = df

In [30]:
dfs = []

for name, df in submission_dict.items():
    df = df.rename(columns={'Transported': name})
    dfs.append(df)

merged_df = pd.concat(dfs, axis=1).loc[:,~pd.concat(dfs, axis=1).columns.duplicated()].reset_index(drop=False)


df = merged_df[['PassengerId', 'DT', 'LOG', 'RF', 'XGB']]

In [32]:
df.head(10)

  PassengerId     DT    LOG     RF    XGB
0     0013_01   True   True   True   True
1     0018_01  False  False  False  False
2     0019_01   True   True   True   True
3     0021_01   True  False  False  False
4     0023_01  False  False  False  False
5     0027_01  False  False  False  False
6     0029_01   True   True   True   True
7     0032_01   True   True   True   True
8     0032_02   True   True   True   True
9     0033_01  False  False  False  False

In [33]:
df['Transported'] = df.drop(columns=['PassengerId']).apply(lambda row: row.value_counts().idxmax(), axis=1)

In [34]:
df.head()

  PassengerId     DT    LOG     RF    XGB  Transported
0     0013_01   True   True   True   True         True
1     0018_01  False  False  False  False        False
2     0019_01   True   True   True   True         True
3     0021_01   True  False  False  False        False
4     0023_01  False  False  False  False        False

In [35]:
submission = df[['PassengerId', 'Transported']]
submission

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01        False
4276     9277_01         True

[4277 rows x 2 columns]

In [36]:

submission.to_csv(f'../../data/submissions/MAJORITY_train_test_data_1.csv', index=False)
display("Submission file generated successfully.")

'Submission file generated successfully.'